$color: #464646;
$goColor: #4a90e2;
$doColor: #54b45d;
$dontColor: #ca4a4b;
$subtleColor: #ddd;

.PoliciesWidget {
  position: relative;
  width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}

.PolicyChain {
  $PolicyChain-color: #464646;
  $PolicyChain-goColor: #4a90e2;
  $PolicyChain-doColor: #54b45d;
  $PolicyChain-dontColor: #ca4a4b;
  $PolicyChain-subtleColor: #ddd;

  display: flex;
  flex-flow: column nowrap;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  &-addPolicy {
    @extend .u-do;
    margin-left: auto;

    &--cancel {
      @extend .u-do;
      margin-left: auto;
    }
  }

  &.is-hidden {
    display: none;
  }
}

.PolicyConfiguration {
  $PolicyConfiguration-color: #464646;
  $PolicyConfiguration-goColor: #4a90e2;
  $PolicyConfiguration-doColor: #54b45d;
  $PolicyConfiguration-dontColor: #ca4a4b;
  $PolicyConfiguration-subtleColor: #ddd;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  //display: flex;
  //flex-flow: column nowrap;

  &-header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  &-cancel {
    @extend .u-do;
    margin-left: auto;
  }

  &-summary {
    width: 100%;
  }

  &-form {

  }

  .btn-info {
    background-color: $PolicyConfiguration-goColor;
    border-color: $PolicyConfiguration-goColor;
  }

  legend {
    color: $PolicyConfiguration-subtleColor;
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: bold;
  }

  #root__title {
    display: none;
  }

  &.is-hidden {
    display: none;
  }
}

.PolicyRegistryList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  &.is-hidden {
    display: none;
  }
}

.Policy {
  $Policy-color: #464646;
  $Policy-goColor: #4a90e2;
  $Policy-doColor: #54b45d;
  $Policy-dontColor: #ca4a4b;
  $Policy-subtleColor: #ddd;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  user-select: none;

  &-sortHandle {
    order: 4;
    cursor: move;
    color: $Policy-doColor;
    opacity: 0.3;
    //margin-left: -2.2rem;
    //margin-right: 1rem;
    //display: none;
    //padding-right: 0.5rem;

    &:hover {
      opacity: 1;
    }
  }

  &-summary {
    order: 1;
    flex: 5;
    @extend .u-link;
  }

  &-name {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.5;

    &--add {
      @extend .u-do;
    }
  }

  &-description {
    line-height: 1.5;
    color: $Policy-color;
  }

  &-version {
    line-height: 1.5;
    color: $Policy-color;
  }

  &:hover {
    .Policy-remove {
      display: block;
    }

    .Policy-sortHandle {
      display: block;
    }
  }

  &-remove {
    order: 3;
    line-height: 1.5;
    border: none;
    background-color: transparent;
    font-weight: normal;
    color: $Policy-dontColor;
    opacity: 0.3;
    display: none;

    &:hover {
      opacity: 1;
    }
  }

  .is-hidden {
    display: none;
  }
}



.u-link {
  cursor: pointer;
  color: $goColor;

  &:hover * {
    color: $color;
  }
}

.u-do {
  @extend .u-link;
  color: $doColor;
}
